*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8b0000;
    color: white;
    padding: 20px 40px;
}

.logo{
    font-family: 'Cinzel';
    font-size: 40px;
}

.nav-links{
    display: flex;
    font-family: 'Cinzel';
    list-style: none;
    gap: 25px;
}

.nav-links li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: 'Cinzel';
}

.hamburger{
    display: none;
    font-size: 28px;
    cursor: pointer;
}

.hero{
    height: 500px;
    font-family: 'Cinzel';
    background-image:
    linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
    url("images/restaurantHero.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.hero-text h1{
    font-size: 50px;
    margin-bottom: 10px;
}

.hero-text p{
    font-size: 20px;
}

.fade-in{
    opacity: 0;
    transform: translateY(20px);
    transition: all 1s ease;
}

.fade-in.show{
    opacity: 1;
    transform: translateY(0);
}


/* FOR MOBILE RESPONSIVENESS; 767 PX WIDTH TAKEN FROM GOOGLE SEARCH */
@media (max-width: 767px){ 
    .hamburger{
        display: block;
        font-size: 28px;
        cursor: pointer;
    }

    .nav-links{
        display: none;
        flex-direction: column;
        position: absolute;
        background-color: #8b0000;
        right: 20px;
        top: 70px;
        padding: 15px;
    }

    .nav-links.show{
        display: flex;
    }

    .home-intro-content{
        flex-direction: column;
        text-align: center;
    }
}

/* MENU CSS */

.menu{
    font-family: 'Cinzel';
    padding: 80px 20px;
    background: #f8f4ec;
}

.menu h1{
    text-align: center;
    font-size: 42px;
    margin-bottom: 40px;
}

.menu-category{
    max-width: 700px;
    margin: auto;
}

.menu-category h2{
    font-size: 30px;
    margin-bottom: 20px;
}

.menu-item{
    border-bottom: 1px dotted #999;
    margin-bottom: 20px;
}

.menu-item-header{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.menu-item p{
    font-style:italic;
    color:gray;
}


/* HOME */

.home-intro{
    font-family: 'Cinzel';
    background: #f8f4ec;
    padding: 80px 20px;
}

.home-intro-container{
    max-width: 1000px;
    margin: 0 auto;
}

.home-intro-content{
    display: flex;
    align-items: center;
    gap: 40px;
}

.home-text{
    flex: 1;
}

.home-image{
    flex: 1;
}

.home-image img{
    width: 100%;
    border-radius: 8px;
}

/* GALLERY CSS */
.gallery{
    font-family: 'Cinzel';
    padding: 80px 20px;
    text-align: center;
    background: #f8f4ec
}

.slider{
    position: relative;
    max-width: 700px;
    margin: auto;
}

.slider img{
    width: 100%;
    border-radius: 10px;
}

.prev, .next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.5);
    color: white;
    border: none;
    font-size: 30px;
    padding: 10px 15px; 
    cursor: pointer;
}

.prev{
    left: 10px;
}
.next{
    right: 10px;
}

/* CONTACT PAGE */

.contact-page{
    font-family: 'Cinzel';
    padding: 80px 20px;
    background: #f8f4ec;
    text-align: center;
}

.contact-page h1{
    font-size: 42px;
    margin-bottom:10px;
}

.contact-page p{
    margin-bottom: 40px;
}

.contact-container{
    ax-width: 1100px;
    margin: 0 auto;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.form-box form{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.form-box label{
    margin-bottom: 8px;
    font-weight: bold;
}

.form-box input,
.form-box textarea{
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
}

.form-box button{
    background: #8b0000;
    color: white;
    border: none;
    padding: 14px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}

.form-box button:hover{
    background: #a50000;
}


/* ABOUT */

.about-page{
    font-family: 'Cinzel';
    background: #f8f4ec;
    padding: 80px 20px;
}

.about-container{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
}

.about-container h1{
    font-size: 42px;
    margin-bottom: 30px;
}

.about-container p{
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 20px;
}

.about-picture{
    text-align: center;
    margin-top: 40px;
}

.about-picture img{
    max-wdith: 600px;
    width: 100%;
}

/* FOOTER */
.footer{
    background: #8b0000;
    color: white;
    padding: 20px 20px;
    margin-top: 40px;
}

.footer-container{
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
}

.footer-section h3{
    margin-bottom: 6px;
}

.footer-section p{
    margin: 3px 0;
}

.footer-section a{
    display: block;
    color: white;
    text-decoration: none;
    margin: 3px 0;
}

.footer-bottom{
    text-align: center;
    margin-top: 10px;
    font-size: 13px;
}

/* PRICE STYLE */
.price-cart{
    font-family: 'Cinzel';
    display: flex;
    align-items: center;
    gap: 10px;
}

.price-cart button{
    font-family: 'Cinzel';
    background: #8b0000;
    color: white;
    border: none;
    padding: 4px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.price-cart button:hover{
    background: #a50000;
}


.cart-link{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.cart-link button{
    font-family: 'Cinzel';
    background: #8b0000;
    color: white;
    border: none;
    padding: 10px 30px;
    border-radius: 4px;
    cursor: pointer;
}

/* CART PAGE CSS */
.cart-page{
    background: #f8f4ec;
    padding: 80px 20px;
    min-height: 60vh;
    text-align: center;
}

.cart-page h1{
    font-family: 'Cinzel';
    font-size: 42px;
    margin-bottom: 40px;
}

.cart-item{
    font-family: 'Cinzel';
    max-width: 700px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    box-shadow: 0 4x 10px rgba(0,0,0,0.1);
}

.cart-item button, .clear-cart-button, .menu-item button{
    font-family: 'Cinzel';
    background: #8b0000;
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 6px;
    cursor: pointer;
}

.cart-item button:hover, .clear-cart-btn:hover, .menu-item button:hover{
    background: #a50000;
}

.clear-cart-btn{
    margin-top: 20px;
}

#cart-total{
    font-family: 'Cinzel';
    margin-top: 30px;
    font-size: 28px;
}

.cart-link{
    font-family: 'Cinzel';
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.menu-button{
    font-family: 'Cinzel';
    background: #8b0000;
    color: white;
    border: none;
    padding: 10px 30px;
    border-radius: 4px;
    cursor: pointer;
}